{
    "localhost": {
        "base_url": "http://localhost"
    },
    "develop": {
        "base_url": "https://komover-dev.vadiun.net"
    },
    "staging": {
        "base_url": "https://komover-stg.vadiun.net"
    },
    "production": {
        "base_url": "https://komover-prod.vadiun.net"
    }
}
